# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
bin/*
*/logs/*
*/cache/*
cache.properties
web/data/*
web/uploads/*
web/bundles/*
web/coverage/*

# Ant build artifacts
.ant-targets-build.xml
build/*

# Entity backups
*.php~

# Configuration files
app/phpunit.xml
app/config/parameters.ini
app/config/parameters.yml
app/config/parameters_test.yml

# Eclipse settings
.buildpath
.project
.settings/*
