{% extends 'DrmBlogBundle::layout.html.twig' %}

{% block title %}Edit/Delete Blog{% endblock %}

{% block body %}

	<h3>Edit or Delete Blog 
    	<a href="{{ path('blog') }}" class="btn btn-primary pull-right">Back to the list</a>
    </h3>

    {{ form(edit_form) }} 	

	<div style="margin-top: -46px; margin-left: 70px;">
	   {{ form(delete_form) }}
    </div>
	
{% endblock %}
