* {
	margin: 0;
	padding: 0;
}

body {
	background: none repeat scroll 0 0 #FFFFFF;
	color: #333333;
	line-height: 1.4em;
}

a {
	color: #00AAEF;
	text-decoration: none;
}

p {
	text-align: justify;
}

blockquote {
	font-size: 0.9em;
	font-style: italic;
	padding-left: 30px;
	padding-right: 30px;
}

pre {
	background: none repeat scroll 0 0 #EEEEEE;
	border: 1px solid #DDDDDD;
	clear: both;
	font: 0.857em/1.5em 'Source Code Pro', sans-serif;
	margin-bottom: 1.833em;
	overflow: auto;
	padding: 0.667em 0.917em;
	white-space: pre-wrap;
}

body>.navbar .brand:hover {
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px
		rgba(255, 255, 255, 0.4);
}

body>.navbar .brand {
	color: #000000;
	float: left;
	font-weight: bold;
	margin-left: 1px;
	padding: 5px 0;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px
		rgba(255, 255, 255, 0.125);
	transition: all 0.2s linear 0s;
}

#site-name {
	line-height: 1;
	margin: 0;
}

#footer {
	background: none repeat scroll 0 0 #000000;
	color: #7E7E7E;
	font-size: 0.8em;
	line-height: 1.4em;
	padding: 20px;
}

#footer h5 {
	border-bottom: 1px dashed #3B3B3B;
	color: #CCCCCC;
}

#footer p {
	padding-bottom: 10px;
}

#footer a {
	color: #FFFFFF;
}

#footer a:hover {
	color: #00AEEF;
	text-decoration: none;
}

#footer ul {
	list-style-type: none;
}

#footer ul li {
	border-bottom: 1px dashed #3B3B3B;
	margin-bottom: 6px;
	padding-bottom: 6px;
}

/** comments **/
.comments {
	clear: both;
}

.comments .odd {
	background: #eee;
}

.comments .comment {
	padding: 20px;
}

.comments .comment p {
	margin-bottom: 0;
}

.comments h3 {
	background: #eee;
	padding: 10px;
	font-size: 20px;
	margin-bottom: 20px;
	clear: both;
}

.comments .previous-comments {
	margin-bottom: 20px;
}

/** sidebar **/
.sidebar .section {
	margin-bottom: 20px;
}

.sidebar h3 {
	line-height: 1.2em;
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: normal;
	background: #eee;
	padding: 5px;
}

.sidebar p {
	line-height: 1.5em;
	margin-bottom: 20px;
}

.sidebar ul {
	list-style: none
}

.sidebar ul li {
	line-height: 1.5em
}

.sidebar .small {
	font-size: 12px;
}

.sidebar .comment p {
	margin-bottom: 5px;
}

.sidebar .comment {
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.sidebar .tags {
	font-weight: bold;
}

.sidebar .tags span {
	color: #000;
	font-size: 12px;
}

.sidebar .tags .weight-1 {
	font-size: 12px;
}

.sidebar .tags .weight-2 {
	font-size: 15px;
}

.sidebar .tags .weight-3 {
	font-size: 18px;
}

.sidebar .tags .weight-4 {
	font-size: 21px;
}

.sidebar .tags .weight-5 {
	font-size: 24px;
}