<form action="{{ path('DrmBlogBundle_comment_create', { 'blog_id' : comment.blog.id } ) }}" method="post" 
	{{ form_enctype(form) }} class="form-horizontal">
    {{ form_widget(form) }}
    <div class="controls">
        <input type="submit" value="Submit" class="btn btn-inverse" />
    </div>
</form>

