{% extends 'DrmBlogBundle::layout.html.twig' %}

{% block title %}whoami{% endblock%} 

{% block body %}
	<div class="span8">
		<header>
			<h2>whoami</h2>
		</header>
		<article>
			<p>I'm just an ordinary chap with a deep interest in
				creating maintainable, scalable, high-performance systems. I have a
				passion for creating well-defined, highly cohesive systems from
				high-level system design to low-level implementation details.</p>
			<p>While most proficient in Java, I have experience with PHP and some
				of its well-known frameworks. I am well-versed in many industry
				best practices, patterns, tools and methodologies and strive to 
				apply the correct tools according to each individual job.</p>
			<p>I maintain this site in attempts of accomplishing three goals:
			<ul type="square">
				<li>to share my findings, understandings, failures, and achievements
					with all developers,</li>
				<li>to maintain a knowledge base of notes, often describing
					non-obvious solutions to annoying problems, and</li>
				<li>to exercise my communication skills by openly expressing my
					thoughts and ideas.</li>
			</ul>
			I sincerely hope you find my content both useful and timely.
			</p>
		</article>
	</div>
	<div class="span3 offset1 sidebar">
		{% block sidebar %} 
		   {% render controller("DrmBlogBundle:Page:sidebar") %} 
		{% endblock %}
	</div>

{% endblock %}
