{% block footer %}
	<div class="span3">
		<h5>Interesting links&nbsp;<i class="icon-bookmark icon-white"></i></h5>
		<ul>
			<li><a href="http://960.gs" target="_new">960 grid system</a></li>
			<li><a href="http://twitter.github.com/bootstrap/" target="_new">Bootstrap</a></li>
			<li><a href="https://developers.google.com/webfonts/docs/getting_started" target="_new">Google web fonts</a></li>
			<li><a href="http://html5boilerplate.com/" target="_new">HTML5 boilerplate</a></li>
		</ul>
	</div>
	<div class="span3 offset1">
		<h5>About me&nbsp;<i class="icon-user icon-white"></i></h5>
		<p>I am a Horsham based <abbr title="Hypertext Preprocessor">PHP</abbr> Developer with a strong <abbr title="Object Oriented Programming">OOP</abbr> background. I am now taking a big leap bringing my CakePHP/Symfony <abbr title="Model-View-Controller">MVC</abbr> design pattern to Spring MVC. It is a steep curve but I am more than willing.</p>
		Powered by <a href="http://symfony.com" target="_new">Symfony</a>
	</div>
	<div class="span3 offset1">
	     <h5>Contact me&nbsp;<i class="icon-envelope icon-white"></i></h5>
	     <ul>
			<li><a href="https://plus.google.com/106886948164247919598/about" target="_new">on Google +</a></li>
			<li><a href="http://www.linkedin.com/in/drmanalo" target="_new">on LinkedIn</a></li>
			<li><a href="https://twitter.com/drmanalo" target="_new">on Twitter</a></li>
			<li><a href="https://github.com/drmanalo" target="_new">on Github</a></li>
	     </ul>
	</div>
{% endblock %}